<template>
  <section class="orders-editor">
    <div>
      <label>Customer</label>
      <select v-model="selectedCustomerId">
        <option disabled value="">Please select one</option>
        <option v-for="customer in customers" :key="customer.id" :value="customer.id">{{customer.name}}</option>
      </select>   
    </div>
    <div>
      <label>Size</label>
      <select v-model="selectedSizeId" @change="updateTotalCost">
        <option disabled value="">Please select one</option>
        <option v-for="size in sizes" :key="size.id" :value="size.id">{{size.name}}</option>
      </select>   
    </div>
    <div>
      <label>Base Tea</label>
      <select v-model="selectedBaseTeaId" @change="updateTotalCost">
        <option disabled value="">Please select one</option>
        <option v-for="baseTea in baseTeas" :key="baseTea.id" :value="baseTea.id">{{baseTea.name}}</option>
      </select>   
    </div>
    <div>
      <label>Flavours</label>
      <select v-model="selectedFlavourId">
        <option disabled value="">Please select one</option>
        <option v-for="flavour in flavours" :key="flavour.id" :value="flavour.id">{{flavour.name}}</option>
      </select>   
    </div>
    <div>
      <label>Toppings</label>
      <select v-model="selectedToppingIds" @change="updateTotalCost" multiple>
        <option disabled value="">Please select one</option>
        <option v-for="topping in toppings" :key="topping.id" :value="topping.id">{{topping.name}}</option>
      </select>   
    </div>
    <div class="order-editor-ftr">
      <div>
        Total: $ {{totalCost}}
      </div>
      <div><button @click="saveOrder">Save</button></div>
      <div><button @click="clearOrder">Clear</button></div>
    </div>
  </section>
</template>

<script>
import axios from "axios"

export default {
  props: {
    customersUrl: {
      type: String,
      required: true
    },
    sizesUrl: {
      type: String,
      required: true
    },
    baseTeasUrl: {
      type: String,
      required: true
    },
    flavoursUrl: {
      type: String,
      required: true
    },
    toppingsUrl: {
      type: String,
      required: true
    },
    ordersUrl: {
      type: String,
      required: true
    }
  },
  data() {
    return {
      orderId: null,
      sizes: [],
      baseTeas: [],
      flavours: [],
      toppings: [],
      customers: [],
      selectedCustomerId: null,
      selectedSizeId: null,
      selectedBaseTeaId: null,
      selectedFlavourId: null,
      selectedToppingIds: [],
      totalCost: 0
    };
  },
  mounted() {
    let self = this;
    let customersRequest = axios.get(self.customersUrl);
    let sizesRequest = axios.get(self.sizesUrl);
    let baseTeasRequest = axios.get(self.baseTeasUrl);
    let flavoursRequest = axios.get(self.flavoursUrl);
    let toppingsRequest = axios.get(self.toppingsUrl);

    axios
      .all([customersRequest, sizesRequest, baseTeasRequest, flavoursRequest, toppingsRequest])
      .then(axios.spread((...responses) => {
        let customers = responses[0].data;
        let sizes = responses[1].data;
        let baseTeas = responses[2].data;
        let flavours = responses[3].data;
        let toppings = responses[4].data;

        for (let i = 0; i < customers.length; i++) {
          self.customers.push(customers[i]);
        }

        for (let i = 0; i < sizes.length; i++) {
          self.sizes.push(sizes[i]);
        }

        for (let i = 0; i < baseTeas.length; i++) {
          self.baseTeas.push(baseTeas[i]);
        }

        for (let i = 0; i < flavours.length; i++) {
          self.flavours.push(flavours[i]);
        }

        for (let i = 0; i < toppings.length; i++) {
          self.toppings.push(toppings[i]);
        }
      }))
  },
  methods: {
    loadOrder(order) {
      let self = this;

      self.orderId = order.id;
      self.selectedCustomerId = order.customerId;
      self.selectedSizeId = order.sizeId;
      self.selectedBaseTeaId = order.baseTeaId;
      self.selectedFlavourId = order.flavourId;      
      self.totalCost = order.price;

      self.selectedToppingIds.length = 0;

      for (let i = 0; i < order.toppings.length; i++) {
        self.selectedToppingIds.push(order.toppings[i].id)
      }
    },
    clearOrder() {
      let self = this;
      self.orderId = null;
      self.selectedCustomerId = null;
      self.selectedBaseTeaId = null;
      self.selectedSizeId = null;
      self.selectedFlavourId = null;      
      self.totalCost = null;
      self.selectedToppingIds.length = 0;
    },
    saveOrder() {
      let self = this;

      let order = {
        customerId: self.selectedCustomerId,
        sizeId: self.selectedSizeId,
        baseTeaId: self.selectedBaseTeaId,
        flavourId: self.selectedFlavourId,
        toppingIds: []
      }

      for (let i = 0; i < self.selectedToppingIds.length; i++) {
        order.toppingIds.push(self.selectedToppingIds[i])
      }

      if (self.orderId) {
        order.id = self.orderId;
      
        axios
          .post(self.ordersUrl, order)
          .then(this.onSaveSuccess);
        return
      }

      axios
          .put(self.ordersUrl, order)
          .then(this.onSaveSuccess);
    },
    onSaveSuccess() {
      let self = this;

      alert("Order saved!");

      self.orderId = null;
      self.selectedCustomerId = null;
      self.selectedBaseTeaId = null;
      self.selectedSizeId = null;
      self.selectedFlavourId = null;      
      self.totalCost = null;
      self.selectedToppingIds.length = 0;

      self.$emit("orderSaved");
    },
    updateTotalCost() {
      let self = this;
      let size = self.$_findMatch(self.sizes, self.selectedSizeId);
      let baseTea = self.$_findMatch(self.baseTeas, self.selectedBaseTeaId);

      if(size && baseTea) {
        let toppingsCost = 0;

        for (let i = 0; i < self.toppings.length; i++) {
          if (self.selectedToppingIds.indexOf(self.toppings[i].id) < 0) {
            continue;
          }

          toppingsCost += self.toppings[i].price;
        }

        let cost = size.priceModifier * baseTea.price + toppingsCost; 

        self.totalCost = Math.ceil(cost * 100) / 100;
      } else{
        self.totalCost = 0;
      }
    },
    $_findMatch(arrayToSearch, idToSearchFor) {
      for (let i = 0; i < arrayToSearch.length; i++) {
        if (arrayToSearch[i].id !== idToSearchFor) {
          continue;
        }

        return arrayToSearch[i];
      }
    }
  }
}
</script>

<style lang="scss">
  .orders-editor {
    display: flex;
    flex-direction: row;

    div {
      padding: 10px;
      display: flex;
      flex-direction: column;
    }

    @media screen and (max-width: 667px) {
      display: block;
    }
    
    @media screen and (min-width: 668px) and (max-width: 1024px) {
      display: block;
    }
  }
</style>