<template>
  <section class="orders-table">
    <h2>Orders</h2>
    <table>
      <tr>
        <th>Size</th>
        <th>Base</th>
        <th>Flavour</th>
        <th>Toppings</th>
        <th>Price</th>
        <th>Edit</th>
        <th>Delete</th>
      </tr>
      <tr v-for="order in orders" :key="order.id">
        <td>{{order.size[0]}}</td>
        <td>{{order.baseTea}}</td>
        <td>{{order.flavour}}</td>
        <td>({{order.toppings.length}}) Topping{{order.toppings.length == 1 ? '' : 's'}}</td>
        <td>${{order.price}}</td>
        <td><button @click="editOrder(order)">Edit</button></td>
        <td><button @click="deleteOrder(order.id)">Delete</button></td>
      </tr>
    </table>
  </section>
</template>

<script>
import axios from "axios";

export default {
  props: {
    ordersUrl: {
      type: String,
      required: true
    }
  },
  data() {
    return {
      deleteOrderId: null,
      orders: []
    };
  },
  mounted() {
    axios
      .get(this.ordersUrl)
      .then(this.onGetDataSuccess);
  },
  methods: {
    updateData() {
      this.orders.length = 0;

      axios
        .get(this.ordersUrl)
        .then(this.onGetDataSuccess);
    },
    editOrder(order) {
      this.$emit("orderSelectedForEdit", order);
    },
    deleteOrder(orderId) {
      if (!confirm("Are you sure you want to delete this order?")) {
        return
      }

      this.deleteOrderId = orderId;

      axios
        .delete(this.ordersUrl + "/" + orderId)
        .then(this.onDeleteSuccess);
    },    
    onGetDataSuccess(response) {
      if(response.data.length <= 0) {
        return;
      }

      for (let i = 0; i < response.data.length; i++) {
        this.orders.push(response.data[i]);
      }
    },
    onDeleteSuccess() {
      let self;
      let indexToRemove;

       for (let i = 0; i < self.orders.length; i++) {
        if (self.orders[i].id !== self.deleteOrderId) {
          continue;
        }

        indexToRemove = i;
        break;
      }

      if (indexToRemove < 0) {
        self.deleteOrderId = null;
        return;
      }
      
      self.orders.splice(indexToRemove);
      self.deleteOrderId = null;
      alert("Order deleted!");
      self.$emit("orderDeleted");
    }
  }
}
</script>

<style lang="scss">
  .orders-table {
    h2 {
      font-weight: 900;

      @media screen and (max-width: 667px) {
        font-size: 28px;
      }
      
      @media screen and (min-width: 668px) and (max-width: 1024px) {
        font-size: 30px;
      }
      
      @media screen and (min-width: (1025px)) {
        font-size: 32px;        
      }
    }

    table {
      width: 100%;

      @media screen and (max-width: 667px) {
        font-size: 16px;
      }
      
      @media screen and (min-width: 668px) and (max-width: 1024px) {
        font-size: 18px;
      }
      
      @media screen and (min-width: (1025px)) {
        font-size: 20px;        
      }

      tr:nth-child(even) {
        background-color: #CCC;
      }
      
      tr:nth-child(odd) {
        background-color: #FFF;
      }
    }
  }
</style>