<template>
  <div id="bubble-tea-app">
    <OrderEditor ref="orderEditor" 
      customersUrl="https://localhost:5001/customers" 
      sizesUrl="https://localhost:5001/sizes" 
      baseTeasUrl="https://localhost:5001/base-teas" 
      flavoursUrl="https://localhost:5001/flavours" 
      toppingsUrl="https://localhost:5001/toppings" 
      ordersUrl="https://localhost:5001/orders"
      @orderSaved="orderSaved"
    />
    <OrdersTable ref="orderTable" 
      ordersUrl="https://localhost:5001/orders"
      @orderSelectedForEdit="orderSelectedForEdit"
      @orderDeleted="orderDeleted" />
  </div>
</template>

<script>
import OrderEditor from "@/components/OrderEditor";
import OrdersTable from "@/components/OrdersTable";

export default {
  name: "bubble-tea-app",
  methods:{
    orderSaved() {
      this.$refs.orderTable.updateData();
    },
    orderSelectedForEdit(order) {
      this.$refs.orderEditor.loadOrder(order);
    },
    orderDeleted() {
      this.$refs.orderEditor.clearOrder();
    }
  },
  components: {
    OrderEditor,
    OrdersTable
  }
};
</script>

<style lang="scss">
#app {
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
  margin-top: 60px;
}
</style>
